.inter-tight{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body {
  font-family: "Inter Tight", sans-serif;
  background-color: #FDEFD7;
  padding:10px;
}

.container {
  width: 45%;
}

.container-fluid {
  width: 85%;
}

.lead {
  font-family: "inter tight", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #030301;
  text-align: center;
  padding: 30px;
}

.img-fluid {
  padding: 20px;
}

.subhead {
  font-style: italic;
  font-weight: 300;
  text-align:center;
  padding-top:30px;
}

h1 {
  font-size: 4em;
  font-weight:800;
  text-align:center;
}

.byline{
  text-align:center;
  font-weight:300;
  font-size:.85em;
  padding-bottom:60px;
}
.chart-subhed {
  color:#ad1a64;
}

a {
  color:#030301
}
.chart-hed{
  font-size:2em;
  font-weight:500;
 margin:100px 0 100px 0;
}
.chart-title {
  text-align:center;
}