.inter-tight{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color:#FDEFD7;
}
.container {
    width:45%;
}

.container-fluid {
    width:85%;
}
.lead{
    font-family:"inter tight", sans-serif;
    font-size:16px;
    line-height:1.6;
    color:#030301;
    text-align:center;
    padding: 30px;
}