  /* 
  font-family: "Signika", sans-serif;
  font-family: "Epunda Sans", sans-serif; 

  blue: 013146
  lt blue: BCF7FF
  dk blue: 7DE7F7
  red: C52804
  yellow: FCB11D
  
  */
  .epunda-sans {
      font-family: "Epunda Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }

  .signika {
      font-family: "Signika", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
          "GRAD" 0;
  }


  body {
      font-family: "Epunda Sans", sans-serif;
      margin: 0;
      fallback: "Georgia", serif;

  }

  header,
  footer {
      background-color: #013146;
      color: white;
      padding: 70px;
      text-align: center;
  }

  main {
      margin: 20px;
  }

  section {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  a {
      color: #FCB11D;
      text-decoration: none;
  }

  a:hover {
      font-weight: 600;
  }

  h1,
  h2 {
      font-family: "Signika", sans-serif;
      size: large;
  }

  h2 {
      text-transform: uppercase;
  }

  .lead {
      font-size: large;
      font-weight: 600px;
  }

  .register a {
      background-color: #C52804;
      color: white;
      padding: 10px;
  }

  .schedule p {
      margin: 0;
      padding: 20px;
  }

  .odd {
      background-color: #BCF7FF;
      margin: 0;
  }

  .even {
      background-color: #7DE7F7;
  }